body {
	line-height: 1.3em;
	font-family: "myriad-pro-1","myriad-pro-2", Helvetica, Arial, sans-serif; /* fixme */
	font-size: 13px;
}


a { color: #25aae1; text-decoration: none; }
a:hover { text-decoration: underline; }

table {
	margin: 1em 0;
	width: 100%;
}

th {
	border: 1px solid black;
	font-weight: bold;
	padding: 3px 5px;
}
td {
	border: 1px solid black;
	padding: 3px 5px;
}

h1, h2, h3, h4, h5, h6 {
	color: #25AAE1;
	border-bottom: 1px solid black;
	padding-bottom: 0.3em;
	margin: 0.5em 0 0.7em;
}

h1 {
	color: black;
	font-size: 22px;
	font-weight: bold;
}
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 13px; }
