
ul.menu {
	margin: 0;
	text-align: center;
}

ul.menu li {
	display: inline;
	padding: 0 5px;
}
ul.menu a { color: black; }
ul.menu a:hover { color: #25aae1; text-decoration: none; }
ul.menu span {}


#main-menu ul.menu li {
	background: url(../images/menus.jpg) 0 0 no-repeat;
	float: left;
	font-size: 16px;
	padding: 0 0 0 32px;
	text-align: center;
	width: 105px;
}
#main-menu ul.menu li:hover { background-position: 0 -123px; }
#main-menu ul.menu li.first-menu-item { background-position: 0 -82px; padding-left: 10px; }
#main-menu ul.menu li.last-menu-item { background-position: 0 -41px; padding-right: 21px; }
#main-menu ul.menu li:hover + li { background-position: 0 -246px; }
#main-menu ul.menu li:hover + li.last-menu-item { background-position: 0 -287px; }
#main-menu ul.menu li.first-menu-item:hover { background-position: 0 -205px; }
#main-menu ul.menu li.last-menu-item:hover { background-position: 0 -164px; }

#main-menu a {
	color: white;
	display: block;
	line-height: 41px;
}
#main-menu a:hover { color: white; text-decoration: none; }

/* bottom menu */
#bottom-menu li { background: url(../images/menu_seperator.png) left center no-repeat; padding: 0 5px 0 8px; }
#bottom-menu li:first-child { background: none; }

/* widget containers */
.widgets {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* post-content widgets */
#post-content .widget-container {
	background: url(../images/bottom_bg.png) center bottom no-repeat;
	float: left;
	list-style: none;
	margin-left: 10px;
	min-height: 190px;
	padding: 0 20px 20px;
	width: 435px;
}
#post-content .widget-container:first-child {
	margin-left: 0;
}

#post-content .widget-container .widget-title {
	border: none;
	color: #25aae1;
	font-size: 18px;
	line-height: 30px;
}

/* footer widgets */
#footer .widgets {
	position: absolute;
	right: 0;
	top: 0;
}

/* slider */
#slider {
	margin: 0 10px 60px !important;
}

