/* layout */

.headerContainer,
.container {
	margin: 0 auto;
	width: 940px;
	padding: 0 10px;
}

.container > div {
	background: #000000;
}

#header {
	background: url('../images/.png') top center repeat-x;
}

#header > div {
	background: url('../images/header_bg.png') top center no-repeat;
	height:133px; /*TODO REMOVE*/
}

#masthead {
	background: #000000 url('../images/masthead_divider.png') bottom center no-repeat;
	height: 290px; /*TODO REMOVE*/
	padding: 30px 30px 42px;
}

#content {
	float:left;
	width:660px;
}

#top {
	float:left;
	padding: 25px 30px 25px 0;
}

#comp {
	float:left;
	padding: 25px 30px 25px 0;
}

#bottom {
	float:left;
	border-top: 1px solid #343434;
	padding: 0px 0px 25px 0px;
}

#sidebar {
	width:219px;
	float: left;
	padding:0px 0px 0px 30px;
	margin-top: 25px;
	border-left: 1px solid #343434;
}

#footer {
	padding: 0 0 27px 0;
	background: #000000 url('../images/masthead_divider.png') bottom center no-repeat;
}

#copyright {
	font-size: 10px;
	padding: 20px 0;
}