/* layout */

.headerContainer,
.container {
	margin: 0 auto;
	width: 940px;
	padding: 0 10px;
}

.container > div { background: url('../images/body_bgRepeat.png') top center repeat-y; }

#header { background: url('../images/header_bgOuter.png') top center repeat-x; }

#header > div {
	background: url('../images/header_bg.png') top center no-repeat;
	height:133px; /*TODO REMOVE*/
}

#masthead {
	background: url('../images/masthead_divider.png') bottom center no-repeat;
	height: 290px; /*TODO REMOVE*/
	padding: 30px 30px 42px;
}

#content {
	float:left;
	width:679px;
	padding-right: 30px;
}

#top { padding: 25px 30px 25px 0; }

#comp { padding: 0px 20px 0px 10px; }

#bottom {
	border-top: 1px solid #343434;
	padding: 0px 0px 25px 0px;
}

#sidebar {
	width:200px;
	float: left;
	padding:0px 0px 0px 30px;
	margin-top: 25px;
	border-left: 1px solid #343434;
}

#footer {
	padding: 0 0 27px 0;
	background: url('../images/masthead_divider.png') bottom center no-repeat;
}

#copyright {
	font-size: 10px;
	padding: 20px 0;
}