/* @group modules */
.moduletable {}

/* menus */
.moduletable_hmenu {}

.moduletable_hmenu.primary {
	float: right;
	clear: both;
	text-transform: uppercase;
	margin-top: 70px;
}

.moduletable_hmenu.primary > ul {
	margin: 0;
	padding: 0;
}

.moduletable_hmenu.primary > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	
	padding: 0 15px;
}

.moduletable_hmenu.primary > ul > li > a {
	color: #ffffff;
}

.moduletable_hmenu.primary > ul > li > a:hover {
	color: #f45353;
}

.moduletable_hmenu.secondary {
	float: right;
	font-size: 10px;
	margin: 18px 0px 0px;
	color: #cc33cc;
	text-transform: uppercase;
	line-height: 10px;
}

.moduletable_hmenu.secondary > ul {
	margin: 0;
	padding: 0;
}

.moduletable_hmenu.secondary > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	
	padding: 0 5px;
	border-left: 1px solid #cc33cc;
}

.moduletable_hmenu.secondary > ul > li:first-child {
	border-left: none;
	padding-right: 7px;
}

.moduletable_hmenu.secondary > ul > li > a {
	color: #cc33cc
}

.moduletable_hmenu.secondary > ul > li > a:hover {
	text-decoration: underline;
}

.moduletable_hmenu.footer {
	text-align: center;
	font-size: 10px;
	margin: 18px 0px 0px;
	color: #cc33cc;
	line-height: 10px;
}

.moduletable_hmenu.footer > ul {
	margin: 0;
	padding: 0;
}

.moduletable_hmenu.footer > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	border-left: 1px solid #cc33cc;
	padding: 0 10px;
}

.moduletable_hmenu.footer > ul > li:first-child {
	border-left:none;
}

.moduletable_hmenu.footer > ul > li > a {
	color: #cc33cc
}

.moduletable_hmenu.footer > ul > li > a:hover {
	color: #f45353;
}

/*logo*/

.logo {
	float:left;
}

/*top*/

.moduletable.biggerImage {
	float:left;
	position:relative;
	padding-left: 341px;
}

.moduletable.biggerImage img {
	float: left;
	margin: -27px 0 0 -341px;
	width: 311px; /*TODO #TOP IMAGES MUST BE 311px WIDE*/
}

/*bottom*/

.moduletable.bigImage {
	float:left;
	position:relative;
	padding-left: 163px;
	margin: 30px 40px 0 0;
	width: 127px;
}

.moduletable.bigImage img {
	float: left;
	width: 151px;
	margin: -30px 0 0 -163px;
	border: 1px solid #333333;
}

/*sidebar*/

/*connect with us*/

.moduletable .connect img { padding-left: 12px; }
.moduletable .connect img:first-child { padding-left: 0px; }

/*testimonials*/

.moduletable .testimonials {
	font-style: italic;
	line-height: 24px;
}



