/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/*copyright*/

.purpleFont {
	color: #cc33cc;
	text-transform: uppercase;
}

.orangeFont {
	color: #cc3333;
	text-transform: uppercase;
}

.paddingRight { padding: 0px 20px 20px 0; }

.insetText {
        font-family: Lucida Grande;
        -webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
        color: transparent;
        text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}
