/* forms 1 */
fieldset {
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
legend {
  color: #555;
  font-size: 10px;
  font-weight: bold;
  margin: 0 10px;
  padding: 0 5px;
  text-shadow: 1px 1px 1px #FFF;
  text-transform: uppercase;
}
form dt {
  clear: both;
  float: left;
  margin-bottom: 2px;
  text-align: right;
  width: 25%;
}
form dd {
  float: left;
  margin: 0 0 15px;
  width: 75%;
}
form dd small {
  color: #AAA;
  display: block;
  font-size: 11px;
}
label {
  color: #555;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  margin-right: 12px;
}
input[type=text],
input[type=email],
input[type=password],
select,
textarea {
  background: -moz-linear-gradient(top, #efefef, #ffffff);
  background: -webkit-gradient(linear, left top, left 25, from(#ffffff), color-stop(4%, #eeeeee), to(#ffffff));
  border: 1px solid #CCC;
  border-radius: 3px;
  font-size: 11px;
  padding: 4px 5px;
  width: 300px;
}
